<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "img_banner.jpg" %>);">
  <div class="banner-content">
    <h1></h1>
    <h2>Best place to find a 3 wheels vehicle</h2>
     <a href="vehicles" class="btn btn-primary btn-lg">See more</a>
  </div>
</div>

<div class="container">
  <h1> Nos nouveaux bolides !</h1>
  <div class="row">
    <% @vehicles.sample(3).each do |vehicle| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-container">
          <div class="card" >

            <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= cl_image_path vehicle.photo %>);">
              <%= cl_image_tag vehicle.profile.photo, class: "card-avatar" %>
              <%= link_to("", vehicle_path(vehicle), class: "card-link")%>

              <%  if user_signed_in? && current_user.profile && current_user.profile.vehicles.include?(vehicle)  %>
                <div class="card-user"><i class="fas fa-car"></i></div>
              <% end %>

            </div>

            <div class="card-footer">
              <h2><%= vehicle.name %></h2>
              <div class="card-description">
                <h3><%= vehicle.price.fdiv 100 %>$</p>
                <h3><%= vehicle.seats %> seats</h3>
              </div>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
