<div class="tabs">
  <%= link_to("My Bookings", dashboards_mybookings_path, class: "tab")%>
  <%= link_to("My Vehicles", dashboards_myvehicles_path, class: "tab active")%>
</div>

<div class="container-vehicles">
  <% @vehicles.each do |vehicle|%>
    <ul class="inbox">
      <li class="message">
        <%= cl_image_tag(vehicle.photo, height: 80, width: 100) %>
        <div class="message-name">
          <h3><%= vehicle.name %></h3>
          <p><%= vehicle.type.name %></p>
        </div>
        <div class="message-seats"><%vehicle.seats.times do %>
          <i class="fas fa-male"></i>
          <% end %>
        </div>
        <div class="message-price"><%= vehicle.price.fdiv 100 %> euros </div>
        <div>
          <%= link_to edit_vehicle_path(vehicle) do%>
            <i class="far fa-edit"></i>
          <% end %>
        </div>
        <div>
          <%= link_to dashboards_myvehicles_path do%>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
        </li>
    </ul>

    <div class="container-book">
        <% vehicle.bookings.each do |booking| %>
          <div class="booking">
            <%= cl_image_tag(booking.profile.photo, height: 50, width: 50, class: "message-photo") %>
            <div class="booking-name">
              <h3><%= booking.profile.first_name %></h3>
            </div>
            <div class="booking-date">
              <p>From <%= booking.start_date %></p>
              <p>To <%= booking.end_date %></p>
            </div>
            <div class="booking-status">
              <p><%= booking.status %></p>
              <p><%= booking.price.fdiv 100 %> euros</p>
            </div>
          </div>
          <hr>
      <% end %>
    </div>

  <% end %>
</div>





