<div class="tabs">
  <%= link_to("My Bookings", dashboards_mybookings_path, class: "tab")%>
  <%= link_to("My Vehicles", dashboards_myvehicles_path, class: "tab")%>
   <%= link_to("My Bookings Vehicle", dashboards_myvehiclestobook_path, class: "tab active")%>
</div>

<div class="container-book">
  <% @vehicles.each do |vehicle|%>
    <% vehicle.bookings.each do |booking| %>
      <div class="message-book">
        <div class="message-car">
          <h3><%= vehicle.name %></h3>
        </div>
        <div class="message-date">
          <p>From <%= booking.start_date %></p>
          <p>To <%= booking.end_date %></p>
        </div>
        <div class="message-name">
          <h3><%= booking.profile.first_name %></h3>
        </div>
        <div class="message-status">
          <p><%= booking.status %></p>
          <p class="price"><%= booking.price.fdiv 100 %> euros</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

