<div class="vehicles-map-container"
  id="map"
  style="width: 100%;
  height: 50vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container-index">
  <h1> Three wheels, what else? </h1>
  <div class="row">

    <% @vehicles.each do |vehicle| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-container">
          <div class="card" >
            <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= vehicle.photo %>);">
              <%= cl_image_tag vehicle.profile.photo, class: "card-avatar" %>
              <%= link_to("", vehicle_path(vehicle), class: "card-link")%>
            </div>

            <div class="card-footer">
              <h2><%=vehicle.name %></h2>
              <div class="card-description">
                <h3><%= vehicle.price.fdiv 100 %>$</p>
                <h3><%= vehicle.seats %> seats</h3>
              </div>

            </div>
          </div>
        </div>
      </div>
    <%end %>
  </div>
</div>
